/* ButtonShortcut.css */

.shortcuts-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%); /* Ajuste para centralização precisa */
  }
  
  .shortcut-github {
    text-decoration: none; /* Removido sublinhado padrão de links */
    color: rgba(0, 0, 0, 0.651); /* Cor do ícone - você pode personalizar conforme sua preferência */
    margin-bottom: 20px;
    margin: 0 10px
  }
  .shortcut-linkedin {
    text-decoration: none; /* Removido sublinhado padrão de links */
    color: rgba(0, 0, 0, 0.651); /* Cor do ícone - você pode personalizar conforme sua preferência */
    margin-bottom: 20px;
    margin: 0 10px
  }
  .shortcut-whatsapp {
    text-decoration: none; /* Removido sublinhado padrão de links */
    color: rgba(0, 0, 0, 0.651); /* Cor do ícone - você pode personalizar conforme sua preferência */
    margin-bottom: 20px;
    margin: 0 10px
  }

  .shortcut-github, .shortcut-linkedin, .shortcut-whatsapp {
    text-decoration: none;
    margin-bottom: 20px;
    margin: 0 10px;
    transition: transform 0.1s ease; /* Adicione a transição para suavizar o efeito */
  }
  
  .shortcut-github:hover, .shortcut-linkedin:hover, .shortcut-whatsapp:hover {
    transform: scale(1.1); /* Aumenta o ícone em 10% ao passar o mouse */
  }
  .dark .shortcut-linkedin, .dark .shortcut-whatsapp, .dark .shortcut-github {
    color: rgb(255, 255, 255);
  }