/* Theme.css */

.toggle-switch {
    position: fixed;
    margin-top: 590px;
    margin-left: 1790px;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .main.mobile .toggle-switch {
    margin-top: 165%;
    margin-left: 88%;
    width: 60px;
    transform: translate(-50%);
  }
  .main.mobile .switch-label {
    height: 25px;
  }
  .main.mobile .slider {
    top: 0px;
    left: 0px;
    height: 100%;
  }
  .main.mobile .slider::before {
    top: 3px;
    left: 0px;
    height: 20px;
  }
  .main.mobile .checkbox:checked ~ .slider::before {
    transform: translateX(30px);
  }
  /*.main.mobile .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(60px);
    transform: translateX(20px);
  }*/